[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pip = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz"}

[dev-packages]

[requires]
python_version = "3.8"
